@import url(fonts.css);
 body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.bg-light {
  background-color: transparent !important;
}

.wrapper-1 {
  background:linear-gradient(to top, rgba(0,38,79,0.2), transparent 150px),linear-gradient(to bottom right, rgba(0,38,79,0.95), rgba(41,136,238,0.92)),url(/images/bg.jpg) no-repeat center center;
  height: 100vh;
  /*background-image: url('https://status.im/dist/img/new-site/dot.svg');*/

}

.jumbotron {
  color: #fff;
  background-color: transparent;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}
.display-4 {
text-transform: capitalize;
font-family: 'Titillium Web', sans-serif;
font-size: 68px;
color: #fff;
font-weight: lighter;
text-align: center;
line-height: 1.6;
}

.lead {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #eee;
}
@media (max-width: 990px) {
  .display-4 {
    font-size: 50px;
  }
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}
.wrapper-2 {
  background-color: #EDF2F5;
  color: rgb(41,136,238);
}
.row-40{
  height: 30%;
  width: 90%;
  margin: 2.5% 5%;
  padding: 10px;
  background-color: #fff;

}
.row-60{
  height: 60%;
}
.row-40 .col-md-3:not(:last-child) {
  border-right: 1px solid #868e96;
}
.typed-wrapper {
  display: flex;
  justify-content: center;
  min-height: 46px;
}
.typed-cursor {
  margin-top: 3px;
  margin-left: 2px;
}
.project-heading {
  /*font-weight: bold;*/
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 25px;
}

.project-body {
  font-size: 18px;
  padding: 10px;
  text-align: justify;
}

.nav-link {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
text-transform: uppercase;

}

.navbar-brand {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

.row-60 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #555;
  text-align: center;
}

.entry {
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  padding-top: 50px;
}

.sub {
  font-family: 'Titillium Web', sans-serif;
}

.bold {
  /*font-weight: bold;*/
}

.release {
  text-transform: uppercase;
  font-weight: thin;
  font-family: 'Roboto', sans-serif;
}

.text-muted {
  font-size: 18px;
}
